## Ex.1 Create a DF

In [1]:
import pandas as pd

In [2]:
import requests
import random
import numpy as np

##This operation is for gathering words,bools and integers.
#word_site = "https://www.mit.edu/~ecprice/wordlist.10000"
#response = requests.get(word_site)
#WORDS = response.content.splitlines()
#randwords = random.choices(WORDS, k=20)
#randInteg= random.sample(range(-10, 100), 20)
#bools= [True,False]
#randBool= np.random.choice(bools, size=20)

randWords = ['sheriff', 'firm', 'first', 'carroll', 'taiwan', 
             'floor', 'dependent', 'earthquake', 'naples', 'kruger', 
             'chapter', 'lender','official','sheffield','ieee',
             'moves','richmond','reader','adapted','well']
randWords2 = ['build','infrastructure','allah','spin','meals','heart',
            'mobile','first','charging','knowledgestorm','policies',
            'brake','system','ross','superior','mastercard','saturday',
            'resistant','anthony','investing']
randInteg= [70, 79, -7, 66, 9, 63, 22, 78, 
            41, 32, 65, 54, 76, 83, 17, 
            -8, 28, 45, 15, 91]
randBool= [ True, False,  True,  True,  True, False, 
           False,  True, False,True, False, False,
           False,  True,  True,  True,  True,  True,False, False]

In [44]:
d = {'words' : randWords ,'words2':randWords2, 'integers' : randInteg , 'booleans' : randBool}
df = pd.DataFrame(data=d)
df.head()

     words          words2  integers  booleans
0  sheriff           build        70      True
1     firm  infrastructure        79     False
2    first           allah        -7      True
3  carroll            spin        66      True
4   taiwan           meals         9      True

In [32]:
#To export the DF.
#df.to_csv(r'for_lambda_and_pyspark.csv', index = False)

## Ex. 2 Iterate with Lambda
It gets on well with map() for numeric vales and functions with strings

In [57]:
def myfunc(o,p):
    if len(o) < 5 and p > 50 :
        return 'tatum'
    else:
        return 'oooo'

In [58]:
myfunc("1323",60)

'tatum'

In [61]:
df['peter'] = df.apply(lambda x: 
                                myfunc(x['words'],x['integers']),axis=1)

In [62]:
df

         words          words2  integers  booleans  peter
0      sheriff           build        70      True   oooo
1         firm  infrastructure        79     False  tatum
2        first           allah        -7      True   oooo
3      carroll            spin        66      True   oooo
4       taiwan           meals         9      True   oooo
5        floor           heart        63     False   oooo
6    dependent          mobile        22     False   oooo
7   earthquake           first        78      True   oooo
8       naples        charging        41     False   oooo
9       kruger  knowledgestorm        32      True   oooo
10     chapter        policies        65     False   oooo
11      lender           brake        54     False   oooo
12    official          system        76     False   oooo
13   sheffield            ross        83      True   oooo
14        ieee        superior        17      True   oooo
15       moves      mastercard        -8      True   oooo
16    richmond        saturday        28      True   oooo
17      reader       resistant        45      True   oooo
18     adapted         anthony        15     False   oooo
19        well       investing        91     False  tatum

In [8]:
df.dtypes

words       object
words2      object
integers     int64
booleans      bool
dtype: object

## Ex. 3 Pyspark Iterations

http://localhost:8888/notebooks/Exercising/cheatsheets/pyspark/Pyspark_Iterate.ipynb

http://localhost:8888/notebooks/Exercising/cheatsheets/pyspark/Pyspark_Jobs.ipynb

In [1]:
import pandas as pd
pandf= pd.read_csv ('for_lambda_and_pyspark.csv')

In [2]:
pandf.head()

     words          words2  integers  booleans
0  sheriff           build        70      True
1     firm  infrastructure        79     False
2    first           allah        -7      True
3  carroll            spin        66      True
4   taiwan           meals         9      True

In [3]:
# Create Pyspark enviroment
import findspark
findspark.init('/home/vieroh/apps/spark-3.3.0-bin-hadoop3-scala2.13') #Here your spark rute.
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/28 22:12:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df = (sc.read
          .format("csv")
          .option('header', 'true')
          .load("for_lambda_and_pyspark.csv"))
          
print((df.count(), len(df.columns))) #Shape.

(20, 4)

In [9]:
print(df)

DataFrame[words: string, words2: string, integers: string, booleans: string]

DF to RDD fails:
https://stackoverflow.com/questions/39521341/pyspark-error-attributeerror-sparksession-object-has-no-attribute-paralleli

For initializing:
https://www.elenacuoco.com/2016/08/28/pyspark-first-approaches-ml-classification/

In [6]:
rdd= df.rdd

#### Foreach()

In [10]:
def eye(x):
    print (x)
    
rdd2.foreach(eye)

('sheriff', 'buildbuild', '70', 'True')
('firm', 'infrastructureinfrastructure', '79', 'False')
('first', 'allahallah', '-7', 'True')
('carroll', 'spinspin', '66', 'True')
('taiwan', 'mealsmeals', '9', 'True')
('floor', 'heartheart', '63', 'False')
('dependent', 'mobilemobile', '22', 'False')
('earthquake', 'firstfirst', '78', 'True')
('naples', 'chargingcharging', '41', 'False')
('kruger', 'knowledgestormknowledgestorm', '32', 'True')
('chapter', 'policiespolicies', '65', 'False')
('lender', 'brakebrake', '54', 'False')
('official', 'systemsystem', '76', 'False')
('sheffield', 'rossross', '83', 'True')
('ieee', 'superiorsuperior', '17', 'True')
('moves', 'mastercardmastercard', '-8', 'True')
('richmond', 'saturdaysaturday', '28', 'True')
('reader', 'resistantresistant', '45', 'True')
('adapted', 'anthonyanthony', '15', 'False')
('well', 'investinginvesting', '91', 'False')

In [ ]:
#EXAMPLES
#To get row by index. 
df.rdd.foreach(lambda x: 
              print(x[0], x[1], x[2], x[3])) 

#To get columns.  
df.rdd.foreach(lambda x: print((x.column1, x.column2)))

#Functions:
def f(row):
    print(row.name)

df.foreach(f)

#### Map()
Recomiendo este Link:
https://sparkbyexamples.com/pandas/pandas-apply-function-usage-examples/

In [9]:
rdd2 = rdd.map(lambda x :(x[0],x[1]*2,x[2],x[3]))

for element in rdd2.collect():
    print(element)

('sheriff', 'buildbuild', '70', 'True')
('firm', 'infrastructureinfrastructure', '79', 'False')
('first', 'allahallah', '-7', 'True')
('carroll', 'spinspin', '66', 'True')
('taiwan', 'mealsmeals', '9', 'True')
('floor', 'heartheart', '63', 'False')
('dependent', 'mobilemobile', '22', 'False')
('earthquake', 'firstfirst', '78', 'True')
('naples', 'chargingcharging', '41', 'False')
('kruger', 'knowledgestormknowledgestorm', '32', 'True')
('chapter', 'policiespolicies', '65', 'False')
('lender', 'brakebrake', '54', 'False')
('official', 'systemsystem', '76', 'False')
('sheffield', 'rossross', '83', 'True')
('ieee', 'superiorsuperior', '17', 'True')
('moves', 'mastercardmastercard', '-8', 'True')
('richmond', 'saturdaysaturday', '28', 'True')
('reader', 'resistantresistant', '45', 'True')
('adapted', 'anthonyanthony', '15', 'False')
('well', 'investinginvesting', '91', 'False')

In [ ]:
#EXAMPLES
# Apply to multiple columns
df[['A','B']] = df[['A','B']].apply(function_with_two_variables)

# Refering columns by index.
rdd=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd.toDF(["name","gender","new_salary"])
df2.show()

# Referring Column Names (another example)
rdd2=df.rdd.map(lambda x: 
    (x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
    )