In [1]:
cd

/home/vieroh

In [2]:
cd master/master-data-science/TFM/CONSTADEX/Data/

/home/vieroh/master/master-data-science/TFM/CONSTADEX/Data

In [3]:
ls

means_CSV_no            std_CSV_no      TRAIN_csv       TRAIN_scaled_CSV
preprocessed_const_csv  TEST_const_csv  Train_Dash.twb  TRAIN_std_CSV
preprocessed_TRAIN_csv  Test_Dash.twb   TRAIN_mean_CSV

In [10]:
import pandas as pd
import numpy as np

,Unnamed: 0.1,Unnamed: 0,built_area,modul_price,typology,weeks_delay,weeks_duration
0,0,1331,16971.669353,800.717684,COLLECTIVE,0,69
1,1,2334,12434.613919,680.061254,COMMERCIAL,2,92
2,2,1807,11003.411065,1190.379098,COLLECTIVE,1,45
3,3,627,10423.124959,987.449779,OTHERS,4,35
4,4,2596,22990.708329,564.466572,COMMERCIAL,6,85
...,...,...,...,...,...,...,...
3550,3550,1140,4865.725064,959.812830,COLLECTIVE,4,59
3551,3551,2106,8399.002755,485.539058,COLLECTIVE,11,61
3552,3552,1625,10564.526848,405.535002,COLLECTIVE,44,70
3553,3553,2719,5694.837811,617.497125,COMMERCIAL,7,88
3554,3554,3125,4504.506274,924.719809,COMMERCIAL,12,66

In [37]:
df = pd.read_csv (r'preprocessed_const_csv')
df.describe()
df.shape

(223, 7)

In [40]:
df=df.drop(columns=['Unnamed: 0.1','Unnamed: 0'],axis=1)

In [41]:
df

     built_area  modul_price  weeks_delay  weeks_duration    typology
0         55.44      1343.02           33              42    DETACHED
1        169.40      1019.86           49              66    DETACHED
2         74.44       812.23           13              23    DETACHED
3        617.24      1461.97            6              44      OTHERS
4        395.42       978.32           20              19    DETACHED
..          ...          ...          ...             ...         ...
218    22575.63       786.97           14              36  COLLECTIVE
219     9179.95       640.16           20              86  COLLECTIVE
220     9984.35       682.76           22              59      OTHERS
221    18925.56       923.93           16              31      OTHERS
222    20328.14       899.02           19              49  COMMERCIAL

[223 rows x 5 columns]

In [39]:
df.shape

(223, 7)

In [35]:
df.describe()

        Unnamed: 0    built_area  modul_price  weeks_delay  weeks_duration
count  3555.000000   3555.000000  3555.000000  3555.000000     3555.000000
mean   1777.000000   8573.883884   737.783916    17.795218       54.639944
std    1026.384431   5835.105470   251.400824    16.501862       19.988243
min       0.000000     50.763235   182.092514     0.000000       13.000000
25%     888.500000   3906.039796   565.767107     5.000000       39.000000
50%    1777.000000   8257.005747   700.774198    13.000000       52.000000
75%    2665.500000  12672.535958   879.700703    26.000000       70.000000
max    3554.000000  32385.786541  1903.912429   113.000000      122.000000

In [42]:
df.to_csv('./preprocessed_const')