## Ex.1 Create a DF

In [1]:
import pandas as pd

In [28]:
import requests
import random
import numpy as np

##This operation is for gathering words,bools and integers.
#word_site = "https://www.mit.edu/~ecprice/wordlist.10000"
#response = requests.get(word_site)
#WORDS = response.content.splitlines()
#randwords = random.choices(WORDS, k=20)
#randInteg= random.sample(range(-10, 100), 20)
#bools= [True,False]
#randBool= np.random.choice(bools, size=20)

randWords = ['sheriff', 'firm', 'first', 'carroll', 'taiwan', 
             'floor', 'dependent', 'earthquake', 'naples', 'kruger', 
             'chapter', 'lender','official','sheffield','ieee',
             'moves','richmond','reader','adapted','well']
randWords2 = ['build','infrastructure','allah','spin','meals','heart',
            'mobile','first','charging','knowledgestorm','policies',
            'brake','system','ross','superior','mastercard','saturday',
            'resistant','anthony','investing']
randInteg= [70, 79, -7, 66, 9, 63, 22, 78, 
            41, 32, 65, 54, 76, 83, 17, 
            -8, 28, 45, 15, 91]
randBool= [ True, False,  True,  True,  True, False, 
           False,  True, False,True, False, False,
           False,  True,  True,  True,  True,  True,False, False]

In [83]:
d = {'words' : randWords ,'words2':randWords2, 'integers' : randInteg , 'booleans' : randBool}
df = pd.DataFrame(data=d)
df.head()

     words          words2  integers  booleans
0  sheriff           build        70      True
1     firm  infrastructure        79     False
2    first           allah        -7      True
3  carroll            spin        66      True
4   taiwan           meals         9      True

In [32]:
#To export the DF.
#df.to_csv(r'for_lambda_and_pyspark.csv', index = False)

## Ex. 2 Iterate with Lambda
It gets on well with map() for numeric vales and functions with strings

In [74]:
def myfunc(p):
    if p == 'True':
        return 'tatum'
    else:
        return 'oooo'

In [76]:
myfunc(4,'True')

'oooo'

In [86]:
 df['peter'] = df['integers'].apply(lambda x: 'yeah' if x >50 else 'nooh')

In [87]:
df

         words          words2  integers  booleans peter
0      sheriff           build        70      True  yeah
1         firm  infrastructure        79     False  yeah
2        first           allah        -7      True  nooh
3      carroll            spin        66      True  yeah
4       taiwan           meals         9      True  nooh
5        floor           heart        63     False  yeah
6    dependent          mobile        22     False  nooh
7   earthquake           first        78      True  yeah
8       naples        charging        41     False  nooh
9       kruger  knowledgestorm        32      True  nooh
10     chapter        policies        65     False  yeah
11      lender           brake        54     False  yeah
12    official          system        76     False  yeah
13   sheffield            ross        83      True  yeah
14        ieee        superior        17      True  nooh
15       moves      mastercard        -8      True  nooh
16    richmond        saturday        28      True  nooh
17      reader       resistant        45      True  nooh
18     adapted         anthony        15     False  nooh
19        well       investing        91     False  yeah

In [39]:
print('Result of mapping with a lambda function')
df['words'] = df['words'].map(lambda x : x*2)

print(df)

Result of mapping with a lambda function
                   words          words2  integers  booleans
0         sheriffsheriff           build        70      True
1               firmfirm  infrastructure        79     False
2             firstfirst           allah        -7      True
3         carrollcarroll            spin        66      True
4           taiwantaiwan           meals         9      True
5             floorfloor           heart        63     False
6     dependentdependent          mobile        22     False
7   earthquakeearthquake           first        78      True
8           naplesnaples        charging        41     False
9           krugerkruger  knowledgestorm        32      True
10        chapterchapter        policies        65     False
11          lenderlender           brake        54     False
12      officialofficial          system        76     False
13    sheffieldsheffield            ross        83      True
14              ieeeieee        superior        17      True
15            movesmoves      mastercard        -8      True
16      richmondrichmond        saturday        28      True
17          readerreader       resistant        45      True
18        adaptedadapted         anthony        15     False
19              wellwell       investing        91     False

## Ex. 3 Iterate with Functions

In [ ]:
def func(X):
    return X**2
r=map(func, df['A'])
df['A']=pd.DataFrame(r)

## Ex. 4 Pyspark Iterations

In [1]:
# Create Pyspark enviroment

#### Foreach()

In [ ]:
#EXAMPLES
#To get row by index. 
df.rdd.foreach(lambda x: 
              print(x[0], x[1], x[2], x[3])) 

#To get columns.  
df.rdd.foreach(lambda x: print((x.column1, x.column2)))

#Functions:
def f(row):
    print(row.name)

df.foreach(f)

#### Map()
Recomiendo este Link:
https://sparkbyexamples.com/pandas/pandas-apply-function-usage-examples/

In [ ]:
#EXAMPLES
# Apply to multiple columns
df[['A','B']] = df[['A','B']].apply(function_with_two_variables)

# Refering columns by index.
rdd=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd.toDF(["name","gender","new_salary"])
df2.show()

# Referring Column Names (another example)
rdd2=df.rdd.map(lambda x: 
    (x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
    )